---
import "@site/styles/global.css";
import Footer from "@site/components/Footer.astro";
import Header from "@site/components/Header.astro";
import HeaderContent from "@site/components/HeaderContent.astro";

const { title, showHeader } = Astro.props as {
	title: string;
	showHeader: boolean
};
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<link rel="icon" type="image/svg+xml" href="../../favicon.ico" />

		<meta name="generator" content={Astro.generator} />

		<link rel="manifest" href="/manifest.json">

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

		<title>{title}</title>
		<meta name="description" content="Welcome to the official blog-page of Lijucay!">
		<meta name="author" content="Lijucay">
		<meta name="color-scheme" content="light dark">
	</head>
	<body>
	<div class="flex flex-col min-h-screen bg-background">
		{showHeader ? <Header>
			<HeaderContent/>
		</Header> : <div class="h-10"></div>}
		<main class="flex-grow">
			<slot />
		</main>
		<Footer/>
	</div>
	</body>
</html>
